.packages
	padding: 40px 0 70px
	&__title
		margin-bottom: 65px
		font-weight: 700
		font-size: 36px
		line-height: 45px
		text-align: center
		text-transform: uppercase
.packages-cards
	display: grid
	grid-template-columns: repeat(3, 32%)
	grid-row-gap: 30px
	justify-content: space-between
	&__item
		&:first-child
			grid-column-start: span 2

.package-card
	position: relative
	width: 100%
	height: 500px
	border-radius: 8px
	overflow: hidden
	color: #fff
	&__bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 50%
		overflow: hidden
	&__img
		height: 100%
		width: 100%
		object-fit: cover
	&__info
		position: absolute
		bottom: 0
		left: 0
		right: 0
		z-index: 10
		height: 53%
		width: 100%
		padding: 30px 21px 25px 32px
		background-color: $dark-blue
	&__title
		font-weight: 700
		font-size: 18px
		line-height: 23px
	&__text
		font-size: 14px
		line-height: 160.6%
	&__title
		margin-bottom: 23px
	&__text
		margin-bottom: 24px
	&__features
		margin-bottom: 24px
	&:first-child
		position: relative
		width: 100%
		border-radius: 8px
		overflow: hidden
		.package-card__bg
			position: absolute
			top: 0
			left: 0
			width: 50%
			height: 100%
			overflow: hidden
		.package-card__img
			height: 100%
			width: 100%
			object-fit: cover
			object-fit: cover
		.package-card__info
			position: absolute
			bottom: 0
			right: 0
			left: 50%
			z-index: 10
			width: 50%
			height: 100%
			padding: 46px 21px 30px 43px
			background-color: $dark-blue
		.package-card__rating
			margin-bottom: 5px
		.package-card__title
			margin-bottom: 27px
		.package-card__text
			margin-bottom: 24px
		.package-card__features
			margin-bottom: 37px

.package-features
	max-width: 100%
	font-size: 12px
	line-height: 15px
	&__text
		margin-bottom: 11px
		&:last-child
			margin-bottom: 0
	&__icon
		margin-right: 14px
	&__desc

.package-book
	display: flex
	align-items: flex-end
	justify-content: space-between
	flex-wrap: wrap
	&__price
	&__old-price
		font-size: 14px
		line-height: 18px
		text-decoration-line: line-through
	&__new-price
		display: block
		margin-top: 10px
		font-weight: 700
		font-size: 24px
		line-height: 30px
	&__button
		font-size: 14px
		padding: 10px 26px
		border-radius: 4px

@media ( max-width: 1200px )
	.package-card
		height: 520px

@media ( max-width: 992px )
	.packages
		padding: 40px 0 60px
		&__title
			font-size: 30px
			margin-bottom: 50px
	.packages-cards
		grid-template-columns: repeat(2, 48%)
		grid-row-gap: 20px
		&__item
			&:first-child
				grid-column-start: span 1

	.package-card
		height: 500px
		&:first-child
			.package-card__bg
				height: 50%
				width: 100%
			.package-card__info
				left: 0
				width: 100%
				height: 53%
				padding: 30px 21px 25px 32px
			.package-card__rating
				display: none
			.package-card__title
				font-weight: 700
				font-size: 18px
				line-height: 23px
			.package-card__text
				display: none
			.package-card__title
				margin-bottom: 23px
			.package-card__text
				margin-bottom: 24px
			.package-card__features
				margin-bottom: 24px

@media ( max-width: 768px )
	.packages
		padding: 40px 0 36px
		&__title
			font-size: 30px
			margin-bottom: 30px
	.package-card
		height: 520px

@media	(max-width:	680px)
	.packages-cards
		grid-template-columns: repeat(1, 100%)
	.package-card
		height: 500px

@media	(max-width:	576px)
	.packages
		&__title
			font-size: 18px
			margin-bottom: 20px

@media	(max-width:	480px)
	.package-card
		&__info
			padding: 20px
		&:first-child
			.package-card__info
				padding: 20px
